@charset "UTF-";

* {
    font-family: Arial, Helvetica, sans-serif;
 
}

body{
    background-image: linear-gradient(to right, #31EB88, #77FF52);
}
main{

    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #01738a9e;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0069D1;
    text-align: center;
    text-shadow: 1px 1px 2px #00a39ed3;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #00D1CA;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}